body {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #dcdcdc;
  margin-top: 7em;
  background-color: #3f3f40;
}

.play-transport {
  font-size: 1.5em;
  font-weight: 750;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #dcdcdc;
  padding: 1em 2em;
  margin: .1em .2em;
  border: 3px solid #5fbad7;
  border-radius: 3px;
  background: none;
  transition: color .2s,
  border .2s,
  border-color .2s,
  border-radius .2s,
  padding .2s,
  margin .2s;
  position: relative;
  display: inline-block;
}

.play-transport img {
  height: 88px;
  width: 100px;
  display: none;
  position: absolute;
  top: 0px;
  left: 40px;
}

.play-transport:hover {
  margin: 0;
  padding: 1.1em 2.2em;
  border-radius: 8px;
  cursor: pointer;
  color: limegreen;
  border-color: limegreen;
}

.play-transport:hover img{
  display: inline-flex;
}

.stop-transport {
  font-size: 1.5em;
  font-weight: 750;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #dcdcdc;
  padding: 1em 2em;
  margin: .1em .2em;
  border: 3px solid #5fbad7;
  border-radius: 3px;
  background: none;
  transition: color .2s,
  border .2s,
  border-color .2s,
  border-radius .2s,
  padding .2s,
  margin .2s;
  position: relative;
  display: inline-block;
}

.stop-transport img {
  height: 88px;
  width: 100px;
  display: none;
  position: absolute;
  top: 0px;
  left: 52px;
}

.stop-transport:hover {
  margin: 0;
  padding: 1.1em 2.2em;
  border-radius: 8px;
  cursor: pointer;
  color: red;
  border-color: red;
}

.stop-transport:hover img{
  display: inline-flex;
}

.horn-transport {
  font-size: 1.5em;
  font-weight: 750;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #dcdcdc;
  padding: 1em 2em;
  margin: .1em .2em;
  border: 3px solid #5fbad7;
  border-radius: 3px;
  background: none;
  transition: color .2s,
  border .2s,
  border-color .2s,
  border-radius .2s,
  padding .2s,
  margin .2s;
}

.oof-transport {
  font-size: 1.5em;
  font-weight: 750;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #dcdcdc;
  padding: 1em 2em;
  margin: .1em .2em;
  border: 3px solid #5fbad7;
  border-radius: 3px;
  background: none;
  transition: color .2s,
  border .2s,
  border-color .2s,
  border-radius .2s,
  padding .2s,
  margin .2s;
}

.masterplay-transport {
  font-size: 1.5em;
  font-weight: 750;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #dcdcdc;
  padding: 1em 2em;
  margin: .1em .2em;
  border: 3px solid #5fbad7;
  border-radius: 3px;
  background: none;
  transition: color .2s,
  border .2s,
  border-color .2s,
  border-radius .2s,
  padding .2s,
  margin .2s;
}

.play-transport {
  font-size: 1.5em;
  font-weight: 750;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #dcdcdc;
  padding: 1em 2em;
  margin: .1em .2em;
  border: 3px solid #5fbad7;
  border-radius: 3px;
  background: none;
  transition: color .2s,
  border .2s,
  border-color .2s,
  border-radius .2s,
  padding .2s,
  margin .2s;
}

.loop-transport {
  font-size: 1.5em;
  font-weight: 750;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #dcdcdc;
  padding: 1em 2em;
  margin: .1em .2em;
  border: 3px solid #5fbad7;
  border-radius: 3px;
  background: none;
  transition: color .2s,
  border .2s,
  border-color .2s,
  border-radius .2s,
  padding .2s,
  margin .2s;
}

.rico-transport {
  font-size: 1.5em;
  font-weight: 750;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #dcdcdc;
  padding: 1em 2em;
  margin: .1em .2em;
  border: 3px solid #5fbad7;
  border-radius: 3px;
  background: none;
  transition: color .2s,
  border .2s,
  border-color .2s,
  border-radius .2s,
  padding .2s,
  margin .2s;
}

.horn-transport:hover {
  margin: 0;
  padding: 1.1em 2.2em;
  border-radius: 8px;
  cursor: pointer;
  color: purple;
  border-color: purple;
}

.oof-transport:hover {
  margin: 0;
  padding: 1.1em 2.2em;
  border-radius: 8px;
  cursor: pointer;
  color: fuchsia;
  border-color: darkviolet;
}

.masterplay-transport:hover {
  margin: 0;
  padding: 1.1em 2.2em;
  border-radius: 8px;
  cursor: pointer;
  color: coral;
  border-color: coral;
}

.loop-transport:hover {
  margin: 0;
  padding: 1.1em 2.2em;
  border-radius: 8px;
  cursor: pointer;
  color: limegreen;
  border-color: limegreen;
}

.rico-transport:hover {
  margin: 0;
  padding: 1.1em 2.2em;
  border-radius: 8px;
  cursor: pointer;
  color: red;
  border-color: red;
}

label {
  display: block;
}
